body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    padding: 8px 24px;
    background-color: #1F2937;
    color: white;

}

.links ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 8px;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: white;
}

.intro-container{
    display:flex ;
    flex-direction: row;
    gap: 24px;
    color: white;
    background-color: #1F2937;
    padding: 24px;
    
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content .title {
    font-weight: bolder;
    font-size: 48px;
}

.content .text {
    font-size: 18px;
}

img {
    height: 300px;
    width: auto;
    border-radius: 12px;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding: 4px 12px;
    border: none;
    border-radius: 4px;
}
.info{
    padding: 24px;

}

.info .title{
    font-size: 36px;
    font-weight: bolder;
}
.quote-container {
    font-size: 36px;
    font-style: italic;
    background-color: #E5E7EB;
    padding: 24px;
}

.byline {
    text-align: end;
    font-size: 16px;
    font-style: bolder;
}

.registration-container {
    display: flex;
    align-items: flex-end;
    background-color: #3882F6;
    color: white;
    margin:  30px auto;
    padding: 16px 48px;
    font-size: 18px;
    border-radius: 8px;
}
.registration-container button {
    border: 2px solid white;
    display: flex;
    margin-left: 20px;
    
    
}

.registration-container .text {
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #1F2937;
    color: aliceblue;
    padding: 16px;
}